-# アイテムリンクカード
= link_to "/items/#{item.id}", class:"item-link-card__link" do
  .item-link-card
    .item-link-card--image
      = image_tag asset_path(item.images.first[:image]), class: "item-photo-size"
    .item-link-card__text-box
      .item-link-card__text-box--name
        %h3
          = item.name
      .item-link-card__text-box__bottom
        .item-link-card__text-box__bottom--price
          = "￥ #{item.price.to_s(:delimited)}"
        .item-link-card__text-box__bottom--like
          %i.fa.fa-heart
          %span 3