.search-right
  - if keyword.empty?
    = render 'search-items-new-label'
    = render partial: 'search-items', locals: { items: new_items }
  - elsif items.present?
    = render partial: 'search-items-result', locals: { keyword: keyword }
    .search-right__item-count
      = "1 - #{items.length}件表示"
    = render partial: 'search-items', locals: { items: items }
  - else
    = render partial: 'search-items-result', locals: { keyword: keyword }
    %p.search-right__nothing-text
      該当する商品が見つかりません。検索条件を変えて、再度お試しください。
    = render 'search-items-new-label'
    = render partial: 'search-items', locals: { items: new_items }