.header-separate
  = render 'shared/main_header'
.search-container
  = render partial: 'search-left',  locals: { keyword: @keyword, categories: @categories }
  = render partial: 'search-right', locals: { keyword: @keyword, items: @items, new_items: @new_items }
-# 下のパンくずリスト
.bread-crumbs__container
  %nav.bread-crumbs
    %ul
      %li
        - breadcrumb :search, @keyword
        = breadcrumbs separator: " &rsaquo; ", class: "breadcrumbs-list"
= render 'shared/main_footer'