-# 仮で会員登録ページの一部をマークアップ
-# ヘッダー後で呼び出す
= form_for @user,url: signup_create_signup_index_path, method: :post, html: {id: :user_form} do |f|
  = f.fields_for :shipping_address do |i|
    .sign-up-form__container
      .sign-up-form__container__title
        発送・お届け先住所入力
      .sign-up-form__container__input
        .sign-up-form__container__input--form
          %h3<
            郵便番号
            %span.required> 必須
            = i.text_field :postal_code, placeholder: '例)  123-4567', class:"sign-up--form"
            #emsg_postal_code
        .sign-up-form__container__input--form
          %h3<
            都道府県
            %span.required> 必須
            = i.collection_select :region_id, @region, :id, :name, { prompt: "---" }
          #emsg_region_id
        .sign-up-form__container__input--form
          %h3<
            市町村
            %span.required> 必須
            = i.text_field :city, placeholder: '例)  渋谷区', class:"sign-up--form"
          #emsg_city
        .sign-up-form__container__input--form
          %h3<
            番地
            %span.required> 必須
            = i.text_field :address, placeholder: '例)  渋谷1-1-1', class:"sign-up--form"
          #emsg_address
        .sign-up-form__container__input--form
          %h3<
            建物名
            %span.any> 任意
            = i.text_field :building, placeholder: '例)  渋谷ビル101', class:"sign-up--form"
        .sign-up-form__container__input--form
          %h3<
            電話
            %span.any> 任意
            = i.text_field :building_phone, placeholder: '例)  09012345678', class:"sign-up--form"
        
        = f.submit "次へ進む", class: "form__btn sign-up-form__container__input--form__btn"
= render 'share/simple-footer'