.mypage-main__footer
  %h2.mypage-main__footer__head
    購入した商品
  %ul.mypage-main__footer__tabs
    %li.mypage-main__footer__tabs__tab
      %h3.mypage-main__footer__tabs__tab--active
        取引中
    %li.mypage-main__footer__tabs__tab
      %h3
        過去の取引
  .mypage-main__footer__contents
    /* 取引がない場合 */
    %ul.mypage-main__footer__contents__nothing
      %li
        取引中の商品がありません
    /* 取引がある場合 */
    %ul.mypage-main__footer__contents__old
      // item1個
      %li.mypage-main__footer__contents__old__items__item
        %a.mypage-main__footer__contents__old__items__item__body{href: "#"}
          %figure.mypage-main__footer__contents__old__items__item__body__image
            = image_tag "mercari_profile.png", class: "mypage-main__body__items__item__body__image"
          .mypage-main__footer__contents__old__items__item__body__text
            「どうぶつの森 一番くじ」を購入しました。取引が完了しました
            %div
              .mypage-main__footer__contents__old__items__item__body__text__complete
                取引完了
          .mypage-main__footer__contents__old__items__item__body__icon
            #{icon 'fas', 'chevron-right'}
      // item1個
      %li.mypage-main__footer__contents__old__items__item
        %a.mypage-main__footer__contents__old__items__item__body{href: "#"}
          %figure.mypage-main__footer__contents__old__items__item__body__image
            = image_tag "mercari_profile.png", class: "mypage-main__body__items__item__body__image"
          .mypage-main__footer__contents__old__items__item__body__text
            「どうぶつの森一番くじD賞 ランチボックス」を購入しました。取引が完了しました
            %div
              .mypage-main__footer__contents__old__items__item__body__text__complete
                取引完了
          .mypage-main__footer__contents__old__items__item__body__icon
            #{icon 'fas', 'chevron-right'}
      // item1個
      %li.mypage-main__footer__contents__old__items__item
        %a.mypage-main__footer__contents__old__items__item__body{href: "#"}
          %figure.mypage-main__footer__contents__old__items__item__body__image
            = image_tag "mercari_profile.png", class: "mypage-main__body__items__item__body__image"
          .mypage-main__footer__contents__old__items__item__body__text
            「セブンイレブン」を購入しました。取引が完了しました
            %div
              .mypage-main__footer__contents__old__items__item__body__text__complete
                取引完了
          .mypage-main__footer__contents__old__items__item__body__icon
            #{icon 'fas', 'chevron-right'}
      // item1個
      %li.mypage-main__footer__contents__old__items__item
        %a.mypage-main__footer__contents__old__items__item__body{href: "#"}
          %figure.mypage-main__footer__contents__old__items__item__body__image
            = image_tag "mercari_profile.png", class: "mypage-main__body__items__item__body__image"
          .mypage-main__footer__contents__old__items__item__body__text
            「ポケモンカード サーナイトGX RR」を購入しました。取引が完了しました
            %div
              .mypage-main__footer__contents__old__items__item__body__text__complete
                取引完了
          .mypage-main__footer__contents__old__items__item__body__icon
            #{icon 'fas', 'chevron-right'}
      // item1個
      %li.mypage-main__footer__contents__old__items__item
        %a.mypage-main__footer__contents__old__items__item__body{href: "#"}
          %figure.mypage-main__footer__contents__old__items__item__body__image
            = image_tag "mercari_profile.png", class: "mypage-main__body__items__item__body__image"
          .mypage-main__footer__contents__old__items__item__body__text
            「グレイシアRR2枚 イーブイ2枚」を購入しました。取引が完了しました
            %div
              .mypage-main__footer__contents__old__items__item__body__text__complete
                取引完了
          .mypage-main__footer__contents__old__items__item__body__icon
            #{icon 'fas', 'chevron-right'}
      // item最後
      %li.mypage-main__footer__contents__old__items__item
        %a.mypage-main__footer__contents__old__items__item__more{href: "#"}
          一覧を見る
