= render 'shared/main_header'
= render 'share/breadcrumbs'
.mypage
  = render 'users/mypage-left'
  .card-registration
    .card-registration__top-contents
      %h2 支払い方法
    .card-registration__bottom-contents
      .card-registration__bottom-contents__text
        %p クレジットカード一覧
      .card-registration__bottom-contents__flame
        .card-registration__bottom-contents__flame__btn
          = link_to "#" do
            .card-registration__bottom-contents__flame__btn__registration-btn
              %span
                %i.far.fa-credit-card
              %span クレジットカードを追加する
      .card-registration__bottom-contents__payment
        = link_to "#" do
          支払い方法について >
= render 'shared/main_footer'
