= render 'shared/main_header'
.main
  .main__visual
  .main__container
    %h2.main__container__head ピックアップカテゴリー
    = render partial: 'pickup_category', locals: { category: @categories[0], items: @ladies_items }
    = render partial: 'pickup_category', locals: { category: @categories[1], items: @mens_items }
    = render partial: 'pickup_category', locals: { category: @categories[2], items: @kids_items }
    = render partial: 'pickup_category', locals: { category: @categories[6], items: @cosmetics_items }
  .main__container
    %h2.main__container__head ピックアップブランド
    = render partial: 'pickup_brand',     locals: { brand:   @chanel,        items: @chanel_items }
    = render partial: 'pickup_brand',     locals: { brand:   @louisVuitton,  items: @louisVuitton_items }
    = render partial: 'pickup_brand',     locals: { brand:   @supreme,       items: @supreme_items }
    = render partial: 'pickup_brand',     locals: { brand:   @nike,          items: @nike_items }
= render 'shared/main_footer'