= render 'shared/main_header'
.main
  .main__visual
  .main__container
    %h2.main__container__head ピックアップカテゴリー
    .main__container__item
      %h3.main__container__item__category
        = link_to "#" do
          .main__container__item__category__title レディース新着アイテム
          .main__container__item__category__num
            = render partial: 'share/item-link-card'
            = render partial: 'share/item-link-card'
            = render partial: 'share/item-link-card'
            = render partial: 'share/item-link-card'
      .main__container__item__all
        = link_to "#" do
          %p.main__container__item__all__link 全ての商品を見る
    .main__container__item
      %h3.main__container__item__category
        = link_to "#" do
          .main__container__item__category__title メンズ新着アイテム
          .main__container__item__category__num
            = render partial: 'share/item-link-card'
            = render partial: 'share/item-link-card'
            = render partial: 'share/item-link-card'
            = render partial: 'share/item-link-card'
      .main__container__item__all
        = link_to "#" do
          %p.main__container__item__all__link 全ての商品を見る
    .main__container__item
      %h3.main__container__item__category
        = link_to "#" do
          .main__container__item__category__title ベビー・キッズ新着アイテム
          .main__container__item__category__num
            = render partial: 'share/item-link-card'
            = render partial: 'share/item-link-card'
            = render partial: 'share/item-link-card'
            = render partial: 'share/item-link-card'
      .main__container__item__all
        = link_to "#" do
          %p.main__container__item__all__link 全ての商品を見る
    .main__container__item
      %h3.main__container__item__category
        = link_to "#" do
          .main__container__item__category__title コスメ・香水・美容新着アイテム
          .main__container__item__category__num
            = render partial: 'share/item-link-card'
            = render partial: 'share/item-link-card'
            = render partial: 'share/item-link-card'
            = render partial: 'share/item-link-card'
      .main__container__item__all
        = link_to "#" do
          %p.main__container__item__all__link 全ての商品を見る
  .main__container
    %h2.main__container__head ピックアップブランド
    .main__container__item
      %h3.main__container__item__category
        = link_to "#" do
          .main__container__item__category__title シャネル新着アイテム
          .main__container__item__category__num
            = render partial: 'share/item-link-card'
            = render partial: 'share/item-link-card'
            = render partial: 'share/item-link-card'
            = render partial: 'share/item-link-card'
      .main__container__item__all
        = link_to "#" do
          %p.main__container__item__all__link 全ての商品を見る
    .main__container__item
      %h3.main__container__item__category
        = link_to "#" do
          .main__container__item__category__title ルイヴィトン新着アイテム
          .main__container__item__category__num
            = render partial: 'share/item-link-card'
            = render partial: 'share/item-link-card'
            = render partial: 'share/item-link-card'
            = render partial: 'share/item-link-card'
      .main__container__item__all
        = link_to "#" do
          %p.main__container__item__all__link 全ての商品を見る
    .main__container__item
      %h3.main__container__item__category
        = link_to "#" do
          .main__container__item__category__title シュプリーム新着アイテム
          .main__container__item__category__num
            = render partial: 'share/item-link-card'
            = render partial: 'share/item-link-card'
            = render partial: 'share/item-link-card'
            = render partial: 'share/item-link-card'
      .main__container__item__all
        = link_to "#" do
          %p.main__container__item__all__link 全ての商品を見る
    .main__container__item
      %h3.main__container__item__category
        = link_to "#" do
          .main__container__item__category__title ナイキ新着アイテム
          .main__container__item__category__num
            = render partial: 'share/item-link-card'
            = render partial: 'share/item-link-card'
            = render partial: 'share/item-link-card'
            = render partial: 'share/item-link-card'
      .main__container__item__all
        = link_to "#" do
          %p.main__container__item__all__link 全ての商品を見る

= render 'shared/main_footer'