= render 'shared/main_header'
.item-show__container
  .item-box__container
    %h1 
      = @item.name
    .item-box__container__box

      -# 商品写真
      .item-box__container__box__photo
        .item-box__container__box__photo--main
          - if @item.buyer_id.present?
            .item-box__container__box__photo--main__sold-mark
              sold out
          -if @item.images.first
            = image_tag @item.images.first.image_url, class:"main-photo"
        .item-box__container__box__photo__sub-group
          - @item.images.each do |image|
            - if @item.images.first.nil?
              = image_tag "no_image.png", class: "sub-photo"
            - else
              = image_tag image.image_url, class:"sub-photo"
      %table.item-box__container__box__table
        %tbody
          %tr
            %th 出品者
            %td
              = @item.saler.name
              .item-box-icon
                %i.fa.fa-smile
                %span 22
                %i.fa.fa-meh
                %span 0
                %i.fa.fa-frown
                %span 0
          %tr
            %th カテゴリー
            %td
              = link_to "#{@item.category.root.name}", category_path(@item.category.id), class:"item-box__container__table-link"
              = link_to "#{@item.category.parent.name}", category_path(@item.category.id), class:"item-box__container__table-link"
              = link_to "#{@item.category.name}", category_path(@item.category.id), class:"item-box__container__table-link"
          - if @item.brand_id
            %tr
              %th ブランド
              %td
                = link_to "#{@item.brand.name}", brand_path(@item.brand.id), class:"item-box__container__table-link"
          %tr
            %th 商品の状態
            %td= @item.condition.name
          %tr
            %th 配送料の負担
            %td= @item.postage.name
          %tr
            %th 配送の方法
            %td= @item.delivery_way.name
          %tr
            %th 配送元地域
            %td
              = link_to "#{@item.region.name}", "#", class:"item-box__container__table-link"
          %tr
            %th 発送日の目安
            %td= @item.delivery_day.day

    -# 価格表示
    .item-price__container
      .item-price__container__price
        = "￥ #{@item.price.to_s(:delimited)}"
      .item-price__container__tax
        (税込)
      .item-price__container__delivery
        送料込み
    
    -# 売り切れてたら売り切れを表示、そうでなければ購入画面に進むボタンを表示
    - if @item.buyer_id.present?
      .item-buy-btn{style: "background-color: gray;"} 売り切れ
    - elsif user_signed_in?
      = link_to "購入画面に進む", item_purchase_index_path(@item.id), class:"item-buy-btn"

    -# テキスト表示
    .item-text
      %p= @item.text
    .item-btn-container
      .item-btn-container__left
        %button.item-btn-container__left--like
          %i.fa.fa-heart
          %span いいね！ 3
        
        = link_to "#", class:"item-btn-container__left--report" do
          %i.fa.fa-flag
          %span 不適切な商品の報告
      .item-btn-container__right
        = link_to "#", class:"item-btn-container__right--safe" do
          %i.fa.fa-lock
          %span あんしん・あんぜんへの取り組み

  - if user_signed_in?
    -# 自分の出品した商品で表示されるボタン
    - if @item.saler_id == current_user.id
      .item-buttons
        = link_to "商品の編集", edit_item_path(@item.id), class: "item-buttons__edit-button"
        = link_to "商品の削除", @item, method: :delete, data: { confirm: "アイテム「#{@item.name}」を削除します。よろしいですか？"}, class: "item-buttons__delete-button"

    -# ログイン時のみ表示されるコメント欄
    .item-comment__container
      %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %textarea
      %button
        %span.item-comment__container--submit コメントする

  -# アイテムナビ欄
  %ul.item-nav
    %li.item-nav__prev
      = link_to "#", class:"item-nav__link" do
        %i.fa.fa-chevron-left
        %span 前の商品名 
    %li.item-nav__next
      = link_to "#", class:"item-nav__link" do
        %span 次の商品名
        %i.fa.fa-chevron-right

  -# SNSリンクボックス
  .item-sns__container
    .item-sns__container__box
      = link_to "#", class:"item-sns__container__box--link" do
        %i.fab.fa-facebook-square.fa-3x
      = link_to "#", class:"item-sns__container__box--link" do
        %i.fab.fa-twitter-square.fa-3x
      = link_to "#", class:"item-sns__container__box--link" do
        %i.fab.fa-pinterest-square.fa-3x

  -# ユーザーのアイテム欄
  .item-user__container
    %h2
      = link_to "#{@item.saler.name}さんのその他の出品", "#", class:"item-user__container--name"
    .item-user__container__user-box
      .item-user__container__user-box--upper-row
        - @saler_items.each do |item|
          = render partial: 'share/item-link-card', locals: { item: item }
  
  -# 同一カテゴリーのアイテム欄
  .item-category__container
    %h2
      = link_to "#{@item.category.name}その他の出品", "#", class:"item-category__container--name"
    .item-category__container__user-box
      .item-category__container__user-box--upper-row
        - @same_category_items.each do |item|
          = render partial: 'share/item-link-card', locals: { item: item }

-# 下のパンくずリスト
.bread-crumbs__container
  %nav.bread-crumbs
    %ul
      %li
        - breadcrumb :item, @item
        = breadcrumbs separator: " &rsaquo; ", class: "breadcrumbs-list"

= render 'shared/main_footer'
